:root {
    --main-font: 'sofia-pro', sans-serif;
    --dark-blue: #01143C;
    --white: #ffffff;
}

img {
    width: 100%;
    height: 100%;
}

html {
    overflow: scroll;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    background-color: var(--dark-blue);
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
/* .open>div.contact>ol {
    width: 123vw;
    position: absolute;
    top: -5px;
    left: 0px;
} */
.logofilters{
    position: fixed;
    top: 0;
    right: 5px;
    text-align:right;
    background-color: var(--dark-blue);
    z-index: 10;
    width: 100vw;
}
.logofilters > h1{
    font-size: 2.25rem;
    margin: 0;
    margin-right: 5px;
    padding: .5rem;
    width: auto;
}
.information{
    padding: 0 3rem 3rem 3rem;
    max-width: 600px;
    margin-top: 4rem
}
.information > p{
    font-weight: 100;
    margin-bottom: 0;
}

.projectlink{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
    text-align: center
}
.information > h2{
    padding-top: 1rem;
    font-size: 1.2rem;
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
}
.images > .big{
    width: 100%;
    height: auto;
    justify-self: center;
}
.images > .smalercontainer {
    display: flex;
    cursor: pointer;

}
.images > .smalercontainer > img{
    height: 5rem;
    width:auto;
    margin-top: 5px;
    margin-right: 5px;
    overflow-x: scroll;
}
@media only screen and (max-width:899px){
    .images{
    max-width: 90vw;

    }
}
@media only screen and (min-width:900px){
    .content{
        display: flex;
        flex-direction:row-reverse;
        width: 90vw;
        padding: 2rem;
        justify-content: flex-end;
        margin-top: 4rem;
    }
    .content > div.images{
        height: min-content;
        max-width: 700px;
        margin-left: 2rem;
        margin-right: 2xrem;
    }
    
    .logofilters{
        width:40vw;
        position: fixed;
        top: 10px;
        left: 3rem;
        text-align:left;
        z-index: 40;   
        background-color: var(--dark-blue);
    }
    .logofilters > div > ol{
        display: flex;
    }
    .logofilters > div > ol >li{
        padding-right: 1rem;
    }
    section.projects{
        top: 10px;
        width: 100%;
        margin: 0 0;
    }
    .information{
        padding: 0 3rem 3rem 4rem;
        margin-right: auto;
    }
    main{
        margin:0;
    }
    nav > ul >li{
        z-index: 20;
    }
    .contact > ol{
        z-index: 4;
    }
}